body {
    background-color: lightslategray;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead{
    background-color: aqua;
  }

  td,th {
    border: 1px solid black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  tr {
    height: 50px;
  }
  td:first-of-type {
    color: gold;
  }